# Virat Kohli Run Prediction

## Problem Statement

### Here we will predict the Runs Scored by the Virat Kohli or any other Batsman when we are given the number of 4's, 6's, bf, etc.. are given

#### by:- Gautam Mahto

## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## import datasets

In [2]:
df=pd.read_csv('Dataset\\Virat_ODI.csv')

### check the shape and look the data

In [3]:
df.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date
0,12,0,33,22,1,0,54.54,1,Sri Lanka,Dambulla,18 Aug 2008
1,37,0,82,67,6,0,55.22,2,Sri Lanka,Dambulla,20 Aug 2008
2,25,0,40,38,4,0,65.78,1,Sri Lanka,Colombo (RPS),24 Aug 2008
3,54,0,87,66,7,0,81.81,1,Sri Lanka,Colombo (RPS),27 Aug 2008
4,31,0,45,46,3,1,67.39,2,Sri Lanka,Colombo (RPS),29 Aug 2008

In [4]:
df.shape

(248, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   runs    248 non-null    object
 1   NotOut  248 non-null    int64
 2   mins    248 non-null    object
 3   bf      248 non-null    object
 4   fours   248 non-null    object
 5   sixes   248 non-null    object
 6   sr      248 non-null    object
 7   Inns    248 non-null    object
 8   Opp     248 non-null    object
 9   Ground  248 non-null    object
 10  Date    248 non-null    object
dtypes: int64(1), object(10)
memory usage: 21.4+ KB

### Check whether null values is present or not

In [6]:
df.isnull().sum()

runs      0
NotOut    0
mins      0
bf        0
fours     0
sixes     0
sr        0
Inns      0
Opp       0
Ground    0
Date      0
dtype: int64

### check whether duplicate item is present or not

In [7]:
df.duplicated().sum()

0

In [8]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [9]:
df

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date
0,12,0,33,22,1,0,54.54,1,Sri Lanka,Dambulla,18 Aug 2008
1,37,0,82,67,6,0,55.22,2,Sri Lanka,Dambulla,20 Aug 2008
2,25,0,40,38,4,0,65.78,1,Sri Lanka,Colombo (RPS),24 Aug 2008
3,54,0,87,66,7,0,81.81,1,Sri Lanka,Colombo (RPS),27 Aug 2008
4,31,0,45,46,3,1,67.39,2,Sri Lanka,Colombo (RPS),29 Aug 2008
5,2,1,6,2,0,0,100.00,1,Sri Lanka,Colombo (RPS),14 Sep 2009
6,16,0,28,24,1,0,66.66,2,Pakistan,Centurion,26 Sep 2009
7,TDNB,0,-,-,-,-,-,-,Australia,Centurion,28 Sep 2009
8,79,1,121,104,9,2,75.96,2,West Indies,Johannesburg,30 Sep 2009
9,30,0,53,41,3,0,73.17,2,Australia,Vadodara,25 Oct 2009
10,10,0,32,16,1,0,62.50,2,Australia,Mohali,2 Nov 2009
11,27,0,20,19,4,0,142.10,1,Sri Lanka,Rajkot,15 Dec 2009
12,54,0,93,65,7,0,83.07,1,Sri Lanka,Nagpur,18 Dec 2009
13,107,0,-,114,11,1,93.85,2,Sri Lanka,Kolkata,24 Dec 2009
14,TDNB,0,-,-,-,-,-,-,Sri Lanka,Delhi,27 Dec 2009
15,9,0,19,12,1,0,75.00,1,Sri Lanka,Dhaka,5 Jan 2010
16,91,0,136,102,7,0,89.21,2,Bangladesh,Dhaka,7 Jan 2010
17,71,1,98,68,9,0,104.41,2,Sri Lanka,Dhaka,10 Jan 2010
18,102,1,128,95,11,0,107.36,2,Bangladesh,Dhaka,11 Jan 2010
19,2,0,6,8,0,0,25.00,1,Sri Lanka,Dhaka,13 Jan 2010
20,31,0,-,46,1,0,67.39,1,South Africa,Jaipur,21 Feb 2010
21,DNB,0,-,-,-,-,-,1,South Africa,Gwalior,24 Feb 2010
22,57,0,-,71,4,1,80.28,2,South Africa,Ahmedabad,27 Feb 2010
23,0,0,3,0,0,0,-,1,Zimbabwe,Bulawayo,28 May 2010
24,82,0,125,92,4,0,89.13,2,Sri Lanka,Bulawayo,30 May 2010
25,18,0,28,29,1,0,62.06,1,Zimbabwe,Harare,3 Jun 2010
26,68,0,123,95,5,0,71.57,1,Sri Lanka,Harare,5 Jun 2010
27,11,0,35,22,0,0,50.00,2,Bangladesh,Dambulla,16 Jun 2010
28,18,0,31,27,1,0,66.66,2,Pakistan,Dambulla,19 Jun 2010
29,10,0,13,14,1,0,71.42,1,Sri Lanka,Dambulla,22 Jun 2010
30,28,0,57,34,4,0,82.35,1,Sri Lanka,Dambulla,24 Jun 2010
31,0,0,5,3,0,0,0.00,2,Sri Lanka,Dambulla,16 Aug 2010
32,8,0,22,16,1,0,50.00,1,New Zealand,Dambulla,25 Aug 2010
33,37,0,98,57,5,0,64.91,2,Sri Lanka,Dambulla,28 Aug 2010
34,118,0,193,121,11,1,97.52,2,Australia,Visakhapatnam,20 Oct 2010
35,105,0,162,104,10,0,100.96,1,New Zealand,Guwahati,28 Nov 2010
36,64,0,78,73,8,0,87.67,2,New Zealand,Jaipur,1 Dec 2010
37,63,1,83,70,6,2,90.00,2,New Zealand,Vadodara,4 Dec 2010
38,0,0,3,2,0,0,0.00,2,New Zealand,Bengaluru,7 Dec 2010
39,2,0,10,8,0,0,25.00,2,New Zealand,Chennai,10 Dec 2010
40,54,0,122,70,2,1,77.14,2,South Africa,Durban,12 Jan 2011
41,22,0,43,34,1,0,64.70,1,South Africa,Johannesburg,15 Jan 2011
42,28,0,51,41,5,0,68.29,2,South Africa,Cape Town,18 Jan 2011
43,87,1,126,92,7,2,94.56,2,South Africa,Port Elizabeth,21 Jan 2011
44,2,0,11,6,0,0,33.33,2,South Africa,Centurion,23 Jan 2011
45,100,1,113,83,8,2,120.48,1,Bangladesh,Dhaka,19 Feb 2011
46,8,0,12,5,1,0,160.00,1,England,Bengaluru,27 Feb 2011
47,34,0,82,53,3,0,64.15,2,Ireland,Bengaluru,6 Mar 2011
48,12,0,16,20,2,0,60.00,2,Netherlands,Delhi,9 Mar 2011
49,1,0,2,3,0,0,33.33,1,South Africa,Nagpur,12 Mar 2011
50,59,0,128,76,5,0,77.63,1,West Indies,Chennai,20 Mar 2011
51,24,0,38,33,1,0,72.72,2,Australia,Ahmedabad,24 Mar 2011
52,9,0,20,21,0,0,42.85,1,Pakistan,Mohali,30 Mar 2011
53,35,0,69,49,4,0,71.42,2,Sri Lanka,Mumbai,2 Apr 2011
54,2,0,5,8,0,0,25.00,2,West Indies,Port of Spain,6 Jun 2011
55,81,0,118,103,6,1,78.64,2,West Indies,Port of Spain,8 Jun 2011
56,0,0,1,1,0,0,0.00,2,West Indies,North Sound,11 Jun 2011
57,22,0,68,33,1,0,66.66,2,West Indies,North Sound,13 Jun 2011
58,94,0,135,104,10,0,90.38,1,West Indies,Kingston,16 Jun 2011
59,55,0,92,73,4,0,75.34,1,England,Chester-le-Street,3 Sep 2011
60,9,0,9,9,0,0,100.00,1,England,Southampton,6 Sep 2011
61,7,0,18,18,0,0,38.88,1,England,The Oval,9 Sep 2011
62,16,0,40,36,1,0,44.44,1,England,Lord's,11 Sep 2011
63,107,0,102,93,9,1,115.05,1,England,Cardiff,16 Sep 2011
64,37,0,70,63,0,0,58.73,1,England,Hyderabad (Deccan),14 Oct 2011
65,112,1,134,98,16,0,114.28,2,England,Delhi,17 Oct 2011
66,35,0,42,30,5,0,116.66,2,England,Mohali,20 Oct 2011
67,86,1,-,99,11,0,86.86,2,England,Mumbai,23 Oct 2011
68,0,0,5,5,0,0,0.00,1,England,Kolkata,25 Oct 2011
69,3,0,13,6,0,0,50.00,2,West Indies,Cuttack,29 Nov 2011
70,117,0,154,123,14,0,95.12,2,West Indies,Visakhapatnam,2 Dec 2011
71,20,0,21,30,3,0,66.66,2,West Indies,Ahmedabad,5 Dec 2011
72,23,1,15,11,3,0,209.09,1,West Indies,Indore,8 Dec 2011
73,80,0,99,85,5,0,94.11,1,West Indies,Chennai,11 Dec 2011
74,31,0,30,34,3,0,91.17,2,Australia,Melbourne,5 Feb 2012
75,77,0,156,94,8,1,81.91,2,Sri Lanka,Perth,8 Feb 2012
76,18,0,41,28,1,0,64.28,2,Australia,Adelaide,12 Feb 2012
77,15,0,32,25,1,0,60.00,2,Sri Lanka,Adelaide,14 Feb 2012
78,12,0,44,25,0,0,48.00,2,Australia,Brisbane,19 Feb 2012
79,66,0,116,83,2,0,79.51,2,Sri Lanka,Brisbane,21 Feb 2012
80,21,0,36,27,2,0,77.77,2,Australia,Sydney,26 Feb 2012
81,133,1,133,86,16,2,154.65,2,Sri Lanka,Hobart,28 Feb 2012
82,108,0,148,120,7,0,90.00,1,Sri Lanka,Dhaka,13 Mar 2012
83,66,0,126,82,5,0,80.48,1,Bangladesh,Dhaka,16 Mar 2012
84,183,0,211,148,22,1,123.64,2,Pakistan,Dhaka,18 Mar 2012
85,106,0,158,113,9,0,93.80,1,Sri Lanka,Hambantota,21 Jul 2012
86,1,0,6,5,0,0,20.00,1,Sri Lanka,Hambantota,24 Jul 2012
87,38,0,80,65,2,0,58.46,2,Sri Lanka,Colombo (RPS),28 Jul 2012
88,128,1,187,119,12,1,107.56,2,Sri Lanka,Colombo (RPS),31 Jul 2012
89,23,0,42,35,2,0,65.71,1,Sri Lanka,Pallekele,4 Aug 2012
90,0,0,9,5,0,0,0.00,1,Pakistan,Chennai,30 Dec 2012
91,6,0,12,9,1,0,66.66,2,Pakistan,Kolkata,3 Jan 2013
92,7,0,25,17,1,0,41.17,1,Pakistan,Delhi,6 Jan 2013
93,15,0,45,22,1,0,68.18,2,England,Rajkot,11 Jan 2013
94,37,0,86,54,1,1,68.51,1,England,Kochi,15 Jan 2013
95,77,1,110,79,9,2,97.46,2,England,Ranchi,19 Jan 2013
96,26,0,44,33,3,0,78.78,2,England,Mohali,23 Jan 2013
97,0,0,1,1,0,0,0.00,1,England,Dharamsala,27 Jan 2013
98,31,0,46,41,2,0,75.60,1,South Africa,Cardiff,6 Jun 2013
99,22,0,18,18,4,0,122.22,2,West Indies,The Oval,11 Jun 2013
100,22,1,36,27,3,0,81.48,2,Pakistan,Birmingham,15 Jun 2013
101,58,1,80,64,4,1,90.62,2,Sri Lanka,Cardiff,20 Jun 2013
102,43,0,66,34,4,1,126.47,1,England,Birmingham,23 Jun 2013
103,11,0,19,21,0,1,52.38,1,West Indies,Kingston,30 Jun 2013
104,2,0,6,5,0,0,40.00,2,Sri Lanka,Kingston,2 Jul 2013
105,102,0,120,83,13,2,122.89,1,West Indies,Port of Spain,5 Jul 2013
106,31,0,62,52,4,0,59.61,1,Sri Lanka,Port of Spain,9 Jul 2013
107,2,0,8,5,0,0,40.00,2,Sri Lanka,Port of Spain,11 Jul 2013
108,115,0,133,108,13,1,106.48,2,Zimbabwe,Harare,24 Jul 2013
109,14,0,35,18,2,0,77.77,1,Zimbabwe,Harare,26 Jul 2013
110,68,1,128,88,5,1,77.27,2,Zimbabwe,Harare,28 Jul 2013
111,DNB,0,-,-,-,-,-,2,Zimbabwe,Bulawayo,1 Aug 2013
112,DNB,0,-,-,-,-,-,2,Zimbabwe,Bulawayo,3 Aug 2013
113,61,0,121,85,6,0,71.76,2,Australia,Pune,13 Oct 2013
114,100,1,82,52,8,7,192.30,2,Australia,Jaipur,16 Oct 2013
115,68,0,121,73,9,0,93.15,1,Australia,Mohali,19 Oct 2013
116,DNB,0,-,-,-,-,-,2,Australia,Ranchi,23 Oct 2013
117,115,1,104,66,18,1,174.24,2,Australia,Nagpur,30 Oct 2013
118,0,0,4,3,0,0,0.00,1,Australia,Bengaluru,2 Nov 2013
119,86,0,120,84,9,2,102.38,2,West Indies,Kochi,21 Nov 2013
120,99,0,159,100,9,0,99.00,1,West Indies,Visakhapatnam,24 Nov 2013
121,19,0,19,18,3,0,105.55,2,West Indies,Kanpur,27 Nov 2013
122,31,0,41,35,5,0,88.57,2,South Africa,Johannesburg,5 Dec 2013
123,0,0,7,5,0,0,0.00,2,South Africa,Durban,8 Dec 2013
124,TDNB,0,-,-,-,-,-,-,South Africa,Centurion,11 Dec 2013
125,123,0,179,111,11,2,110.81,2,New Zealand,Napier,19 Jan 2014
126,78,0,88,65,7,2,120.00,2,New Zealand,Hamilton,22 Jan 2014
127,6,0,27,20,1,0,30.00,2,New Zealand,Auckland,25 Jan 2014
128,2,0,14,10,0,0,20.00,1,New Zealand,Hamilton,28 Jan 2014
129,82,0,129,78,7,3,105.12,2,New Zealand,Wellington,31 Jan 2014
130,136,0,157,122,16,2,111.47,2,Bangladesh,Fatullah,26 Feb 2014
131,48,0,66,51,4,1,94.11,1,Sri Lanka,Fatullah,28 Feb 2014
132,5,0,29,11,0,0,45.45,1,Pakistan,Dhaka,2 Mar 2014
133,DNB,0,-,-,-,-,-,2,Afghanistan,Dhaka,5 Mar 2014
134,0,0,1,3,0,0,0.00,1,England,Cardiff,27 Aug 2014
135,40,0,67,50,2,1,80.00,2,England,Nottingham,30 Aug 2014
136,1,1,9,3,0,0,33.33,2,England,Birmingham,2 Sep 2014
137,13,0,25,21,2,0,61.90,2,England,Leeds,5 Sep 2014
138,2,0,7,5,0,0,40.00,2,West Indies,Kochi,8 Oct 2014
139,62,0,124,78,5,0,79.48,1,West Indies,Delhi,11 Oct 2014
140,127,0,164,114,13,3,111.40,1,West Indies,Dharamsala,17 Oct 2014
141,22,0,34,21,2,0,104.76,1,Sri Lanka,Cuttack,2 Nov 2014
142,49,0,-,44,2,2,111.36,2,Sri Lanka,Ahmedabad,6 Nov 2014
143,53,0,-,61,4,1,86.88,2,Sri Lanka,Hyderabad (Deccan),9 Nov 2014
144,66,0,109,64,6,0,103.12,1,Sri Lanka,Kolkata,13 Nov 2014
145,139,1,192,126,12,3,110.31,2,Sri Lanka,Ranchi,16 Nov 2014
146,9,0,24,16,0,0,56.25,1,Australia,Melbourne,18 Jan 2015
147,4,0,13,8,0,0,50.00,1,England,Brisbane,20 Jan 2015
148,3,1,8,9,0,0,33.33,1,Australia,Sydney,26 Jan 2015
149,8,0,26,19,0,0,42.10,1,England,Perth,30 Jan 2015
150,107,0,168,126,8,0,84.92,1,Pakistan,Adelaide,15 Feb 2015
151,46,0,106,60,3,0,76.66,1,South Africa,Melbourne,22 Feb 2015
152,33,1,49,41,5,0,80.48,2,U.A.E.,Perth,28 Feb 2015
153,33,0,51,36,5,0,91.66,2,West Indies,Perth,6 Mar 2015
154,44,1,64,42,4,1,104.76,2,Ireland,Hamilton,10 Mar 2015
155,38,0,71,48,4,0,79.16,2,Zimbabwe,Auckland,14 Mar 2015
156,3,0,6,8,0,0,37.50,1,Bangladesh,Melbourne,19 Mar 2015
157,1,0,11,13,0,0,7.69,2,Australia,Sydney,26 Mar 2015
158,1,0,9,4,0,0,25.00,2,Bangladesh,Dhaka,18 Jun 2015
159,23,0,57,27,3,1,85.18,1,Bangladesh,Dhaka,21 Jun 2015
160,25,0,55,35,1,0,71.42,1,Bangladesh,Dhaka,24 Jun 2015
161,11,0,29,18,0,0,61.11,2,South Africa,Kanpur,11 Oct 2015
162,12,0,24,18,0,0,66.66,1,South Africa,Indore,14 Oct 2015
163,77,0,155,99,5,0,77.77,2,South Africa,Rajkot,18 Oct 2015
164,138,0,202,140,6,5,98.57,1,South Africa,Chennai,22 Oct 2015
165,7,0,11,6,0,1,116.66,2,South Africa,Mumbai,25 Oct 2015
166,91,0,148,97,9,1,93.81,1,Australia,Perth,12 Jan 2016
167,59,0,84,67,4,0,88.05,1,Australia,Brisbane,15 Jan 2016
168,117,0,174,117,7,2,100.00,1,Australia,Melbourne,17 Jan 2016
169,106,0,131,92,11,1,115.21,2,Australia,Canberra,20 Jan 2016
170,8,0,11,11,1,0,72.72,2,Australia,Sydney,23 Jan 2016
171,85,1,109,81,9,1,104.93,2,New Zealand,Dharamsala,16 Oct 2016
172,9,0,18,13,1,0,69.23,2,New Zealand,Delhi,20 Oct 2016
173,154,1,202,134,16,1,114.92,2,New Zealand,Mohali,23 Oct 2016
174,45,0,64,51,2,1,88.23,2,New Zealand,Ranchi,26 Oct 2016
175,65,0,152,76,2,1,85.52,1,New Zealand,Visakhapatnam,29 Oct 2016
176,122,0,147,105,8,5,116.19,2,England,Pune,15 Jan 2017
177,8,0,6,5,2,0,160.00,1,England,Cuttack,19 Jan 2017
178,55,0,81,63,8,0,87.30,2,England,Kolkata,22 Jan 2017
179,81,1,108,68,6,3,119.11,1,Pakistan,Birmingham,4 Jun 2017
180,0,0,5,5,0,0,0.00,1,Sri Lanka,The Oval,8 Jun 2017
181,76,1,136,101,7,1,75.24,2,South Africa,The Oval,11 Jun 2017
182,96,1,96,78,13,0,123.07,2,Bangladesh,Birmingham,15 Jun 2017
183,5,0,11,9,0,0,55.55,2,Pakistan,The Oval,18 Jun 2017
184,32,1,-,47,1,0,68.08,1,West Indies,Port of Spain,23 Jun 2017
185,87,0,-,66,4,4,131.81,1,West Indies,Port of Spain,25 Jun 2017
186,11,0,-,22,2,0,50.00,1,West Indies,North Sound,30 Jun 2017
187,3,0,-,12,0,0,25.00,2,West Indies,North Sound,2 Jul 2017
188,111,1,-,115,12,2,96.52,2,West Indies,Kingston,6 Jul 2017
189,82,1,-,70,10,1,117.14,2,Sri Lanka,Dambulla,20 Aug 2017
190,4,0,-,2,1,0,200.00,2,Sri Lanka,Pallekele,24 Aug 2017
191,3,0,-,11,0,0,27.27,2,Sri Lanka,Pallekele,27 Aug 2017
192,131,0,-,96,17,2,136.45,1,Sri Lanka,Colombo (RPS),31 Aug 2017
193,110,1,-,116,9,0,94.82,2,Sri Lanka,Colombo (RPS),3 Sep 2017
194,0,0,7,4,0,0,0.00,1,Australia,Chennai,17 Sep 2017
195,92,0,148,107,8,0,85.98,1,Australia,Kolkata,21 Sep 2017
196,28,0,58,35,2,0,80.00,2,Australia,Indore,24 Sep 2017
197,21,0,23,21,3,0,100.00,2,Australia,Bengaluru,28 Sep 2017
198,39,0,73,55,2,0,70.90,2,Australia,Nagpur,1 Oct 2017
199,121,0,203,125,9,2,96.80,1,New Zealand,Mumbai,22 Oct 2017
200,29,0,40,29,3,1,100.00,2,New Zealand,Pune,25 Oct 2017
201,113,0,166,106,9,1,106.60,1,New Zealand,Kanpur,29 Oct 2017
202,112,0,164,119,10,0,94.11,2,South Africa,Durban,1 Feb 2018
203,46,1,64,50,4,1,92.00,2,South Africa,Centurion,4 Feb 2018
204,160,1,220,159,12,2,100.62,1,South Africa,Cape Town,7 Feb 2018
205,75,0,119,83,7,1,90.36,1,South Africa,Johannesburg,10 Feb 2018
206,36,0,76,54,2,0,66.66,1,South Africa,Port Elizabeth,13 Feb 2018
207,129,1,123,96,19,2,134.37,2,South Africa,Centurion,16 Feb 2018
208,75,0,-,82,7,0,91.46,2,England,Nottingham,12 Jul 2018
209,45,0,-,56,2,0,80.35,2,England,Lord's,14 Jul 2018
210,71,0,98,72,8,0,98.61,1,England,Leeds,17 Jul 2018
211,140,0,-,107,21,2,130.84,2,West Indies,Guwahati,21 Oct 2018
212,157,1,217,129,13,4,121.70,1,West Indies,Visakhapatnam,24 Oct 2018
213,107,0,-,119,10,1,89.91,2,West Indies,Pune,27 Oct 2018
214,16,0,-,17,2,0,94.11,1,West Indies,Mumbai (BS),29 Oct 2018
215,33,1,57,29,6,0,113.79,2,West Indies,Thiruvananthapuram,1 Nov 2018
216,3,0,10,8,0,0,37.50,2,Australia,Sydney,12 Jan 2019
217,104,0,150,112,5,2,92.85,2,Australia,Adelaide,15 Jan 2019
218,46,0,-,62,3,0,74.19,2,Australia,Melbourne,18 Jan 2019
219,45,0,59,59,3,0,76.27,2,New Zealand,Napier,23 Jan 2019
220,43,0,59,45,5,0,95.55,1,New Zealand,Mount Maunganui,26 Jan 2019
221,60,0,94,74,6,1,81.08,2,New Zealand,Mount Maunganui,28 Jan 2019
222,44,0,-,45,6,1,97.77,2,Australia,Hyderabad (Deccan),2 Mar 2019
223,116,0,-,120,10,0,96.66,1,Australia,Nagpur,5 Mar 2019
224,123,0,-,95,16,1,129.47,2,Australia,Ranchi,8 Mar 2019
225,7,0,-,6,1,0,116.66,1,Australia,Mohali,10 Mar 2019
226,20,0,-,22,2,0,90.90,2,Australia,Delhi,13 Mar 2019
227,18,0,44,34,1,0,52.94,2,South Africa,Southampton,5 Jun 2019
228,82,0,128,77,4,2,106.49,1,Australia,The Oval,9 Jun 2019
229,77,0,105,65,7,0,118.46,1,Pakistan,Manchester,16 Jun 2019
230,67,0,105,63,5,0,106.34,1,Afghanistan,Southampton,22 Jun 2019
231,72,0,146,82,8,0,87.80,1,West Indies,Manchester,27 Jun 2019
232,66,0,103,76,7,0,86.84,2,England,Birmingham,30 Jun 2019
233,26,0,45,27,3,0,96.29,1,Bangladesh,Birmingham,2 Jul 2019
234,34,1,61,41,3,0,82.92,2,Sri Lanka,Leeds,6 Jul 2019
235,1,0,8,6,0,0,16.66,2,New Zealand,Manchester,9 Jul 2019
236,TDNB,0,-,-,-,-,-,-,West Indies,Providence,8 Aug 2019
237,120,0,179,125,14,1,96.00,1,West Indies,Port of Spain,11 Aug 2019
238,114,1,127,99,14,0,115.15,2,West Indies,Port of Spain,14 Aug 2019
239,4,0,-,4,1,0,100.00,1,West Indies,Chennai,15 Dec 2019
240,0,0,-,1,0,0,0.00,1,West Indies,Visakhapatnam,18 Dec 2019
241,85,0,-,81,9,0,104.93,2,West Indies,Cuttack,22 Dec 2019
242,16,0,-,14,0,1,114.28,1,Australia,Mumbai,14 Jan 2020
243,78,0,-,76,6,0,102.63,1,Australia,Rajkot,17 Jan 2020
244,89,0,-,91,8,0,97.80,2,Australia,Bengaluru,19 Jan 2020
245,51,0,88,63,6,0,80.95,1,New Zealand,Hamilton,5 Feb 2020
246,15,0,31,25,1,0,60.00,2,New Zealand,Auckland,8 Feb 2020
247,9,0,20,12,0,1,75.00,1,New Zealand,Mount Maunganui,11 Feb 2020

### remove the dirty data

here there are few columns where player did not bat  
hence we will drop that rows

In [10]:
drop_match= df[((df.runs == 'TDNB') | ( df.runs == 'DNB') )].index

#### get the index of the data where the TDNB or DNB is present and drop it

In [11]:
drop_match

Int64Index([7, 14, 21, 111, 112, 116, 124, 133, 236], dtype='int64')

In [12]:
df.drop(drop_match,inplace=True)

### Check the shape and info of the data

In [13]:
df.shape

(239, 11)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 0 to 247
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   runs    239 non-null    object
 1   NotOut  239 non-null    int64
 2   mins    239 non-null    object
 3   bf      239 non-null    object
 4   fours   239 non-null    object
 5   sixes   239 non-null    object
 6   sr      239 non-null    object
 7   Inns    239 non-null    object
 8   Opp     239 non-null    object
 9   Ground  239 non-null    object
 10  Date    239 non-null    object
dtypes: int64(1), object(10)
memory usage: 22.4+ KB

### here we will replace '-' with np.nan because we don't have information about that

In [15]:
df=df.replace('-',np.nan)

In [16]:
df.isnull().sum()

runs       0
NotOut     0
mins      33
bf         0
fours      0
sixes      0
sr         1
Inns       0
Opp        0
Ground     0
Date       0
dtype: int64

In [17]:
df.isnull().mean()*100

runs       0.000000
NotOut     0.000000
mins      13.807531
bf         0.000000
fours      0.000000
sixes      0.000000
sr         0.418410
Inns       0.000000
Opp        0.000000
Ground     0.000000
Date       0.000000
dtype: float64

### here mins contain more than 10% null values so we will drop that column

In [18]:
df1=df.drop(columns=['mins'])

In [19]:
df1

,runs,NotOut,bf,fours,sixes,sr,Inns,Opp,Ground,Date
0,12,0,22,1,0,54.54,1,Sri Lanka,Dambulla,18 Aug 2008
1,37,0,67,6,0,55.22,2,Sri Lanka,Dambulla,20 Aug 2008
2,25,0,38,4,0,65.78,1,Sri Lanka,Colombo (RPS),24 Aug 2008
3,54,0,66,7,0,81.81,1,Sri Lanka,Colombo (RPS),27 Aug 2008
4,31,0,46,3,1,67.39,2,Sri Lanka,Colombo (RPS),29 Aug 2008
5,2,1,2,0,0,100.00,1,Sri Lanka,Colombo (RPS),14 Sep 2009
6,16,0,24,1,0,66.66,2,Pakistan,Centurion,26 Sep 2009
8,79,1,104,9,2,75.96,2,West Indies,Johannesburg,30 Sep 2009
9,30,0,41,3,0,73.17,2,Australia,Vadodara,25 Oct 2009
10,10,0,16,1,0,62.50,2,Australia,Mohali,2 Nov 2009
11,27,0,19,4,0,142.10,1,Sri Lanka,Rajkot,15 Dec 2009
12,54,0,65,7,0,83.07,1,Sri Lanka,Nagpur,18 Dec 2009
13,107,0,114,11,1,93.85,2,Sri Lanka,Kolkata,24 Dec 2009
15,9,0,12,1,0,75.00,1,Sri Lanka,Dhaka,5 Jan 2010
16,91,0,102,7,0,89.21,2,Bangladesh,Dhaka,7 Jan 2010
17,71,1,68,9,0,104.41,2,Sri Lanka,Dhaka,10 Jan 2010
18,102,1,95,11,0,107.36,2,Bangladesh,Dhaka,11 Jan 2010
19,2,0,8,0,0,25.00,1,Sri Lanka,Dhaka,13 Jan 2010
20,31,0,46,1,0,67.39,1,South Africa,Jaipur,21 Feb 2010
22,57,0,71,4,1,80.28,2,South Africa,Ahmedabad,27 Feb 2010
23,0,0,0,0,0,NaN,1,Zimbabwe,Bulawayo,28 May 2010
24,82,0,92,4,0,89.13,2,Sri Lanka,Bulawayo,30 May 2010
25,18,0,29,1,0,62.06,1,Zimbabwe,Harare,3 Jun 2010
26,68,0,95,5,0,71.57,1,Sri Lanka,Harare,5 Jun 2010
27,11,0,22,0,0,50.00,2,Bangladesh,Dambulla,16 Jun 2010
28,18,0,27,1,0,66.66,2,Pakistan,Dambulla,19 Jun 2010
29,10,0,14,1,0,71.42,1,Sri Lanka,Dambulla,22 Jun 2010
30,28,0,34,4,0,82.35,1,Sri Lanka,Dambulla,24 Jun 2010
31,0,0,3,0,0,0.00,2,Sri Lanka,Dambulla,16 Aug 2010
32,8,0,16,1,0,50.00,1,New Zealand,Dambulla,25 Aug 2010
33,37,0,57,5,0,64.91,2,Sri Lanka,Dambulla,28 Aug 2010
34,118,0,121,11,1,97.52,2,Australia,Visakhapatnam,20 Oct 2010
35,105,0,104,10,0,100.96,1,New Zealand,Guwahati,28 Nov 2010
36,64,0,73,8,0,87.67,2,New Zealand,Jaipur,1 Dec 2010
37,63,1,70,6,2,90.00,2,New Zealand,Vadodara,4 Dec 2010
38,0,0,2,0,0,0.00,2,New Zealand,Bengaluru,7 Dec 2010
39,2,0,8,0,0,25.00,2,New Zealand,Chennai,10 Dec 2010
40,54,0,70,2,1,77.14,2,South Africa,Durban,12 Jan 2011
41,22,0,34,1,0,64.70,1,South Africa,Johannesburg,15 Jan 2011
42,28,0,41,5,0,68.29,2,South Africa,Cape Town,18 Jan 2011
43,87,1,92,7,2,94.56,2,South Africa,Port Elizabeth,21 Jan 2011
44,2,0,6,0,0,33.33,2,South Africa,Centurion,23 Jan 2011
45,100,1,83,8,2,120.48,1,Bangladesh,Dhaka,19 Feb 2011
46,8,0,5,1,0,160.00,1,England,Bengaluru,27 Feb 2011
47,34,0,53,3,0,64.15,2,Ireland,Bengaluru,6 Mar 2011
48,12,0,20,2,0,60.00,2,Netherlands,Delhi,9 Mar 2011
49,1,0,3,0,0,33.33,1,South Africa,Nagpur,12 Mar 2011
50,59,0,76,5,0,77.63,1,West Indies,Chennai,20 Mar 2011
51,24,0,33,1,0,72.72,2,Australia,Ahmedabad,24 Mar 2011
52,9,0,21,0,0,42.85,1,Pakistan,Mohali,30 Mar 2011
53,35,0,49,4,0,71.42,2,Sri Lanka,Mumbai,2 Apr 2011
54,2,0,8,0,0,25.00,2,West Indies,Port of Spain,6 Jun 2011
55,81,0,103,6,1,78.64,2,West Indies,Port of Spain,8 Jun 2011
56,0,0,1,0,0,0.00,2,West Indies,North Sound,11 Jun 2011
57,22,0,33,1,0,66.66,2,West Indies,North Sound,13 Jun 2011
58,94,0,104,10,0,90.38,1,West Indies,Kingston,16 Jun 2011
59,55,0,73,4,0,75.34,1,England,Chester-le-Street,3 Sep 2011
60,9,0,9,0,0,100.00,1,England,Southampton,6 Sep 2011
61,7,0,18,0,0,38.88,1,England,The Oval,9 Sep 2011
62,16,0,36,1,0,44.44,1,England,Lord's,11 Sep 2011
63,107,0,93,9,1,115.05,1,England,Cardiff,16 Sep 2011
64,37,0,63,0,0,58.73,1,England,Hyderabad (Deccan),14 Oct 2011
65,112,1,98,16,0,114.28,2,England,Delhi,17 Oct 2011
66,35,0,30,5,0,116.66,2,England,Mohali,20 Oct 2011
67,86,1,99,11,0,86.86,2,England,Mumbai,23 Oct 2011
68,0,0,5,0,0,0.00,1,England,Kolkata,25 Oct 2011
69,3,0,6,0,0,50.00,2,West Indies,Cuttack,29 Nov 2011
70,117,0,123,14,0,95.12,2,West Indies,Visakhapatnam,2 Dec 2011
71,20,0,30,3,0,66.66,2,West Indies,Ahmedabad,5 Dec 2011
72,23,1,11,3,0,209.09,1,West Indies,Indore,8 Dec 2011
73,80,0,85,5,0,94.11,1,West Indies,Chennai,11 Dec 2011
74,31,0,34,3,0,91.17,2,Australia,Melbourne,5 Feb 2012
75,77,0,94,8,1,81.91,2,Sri Lanka,Perth,8 Feb 2012
76,18,0,28,1,0,64.28,2,Australia,Adelaide,12 Feb 2012
77,15,0,25,1,0,60.00,2,Sri Lanka,Adelaide,14 Feb 2012
78,12,0,25,0,0,48.00,2,Australia,Brisbane,19 Feb 2012
79,66,0,83,2,0,79.51,2,Sri Lanka,Brisbane,21 Feb 2012
80,21,0,27,2,0,77.77,2,Australia,Sydney,26 Feb 2012
81,133,1,86,16,2,154.65,2,Sri Lanka,Hobart,28 Feb 2012
82,108,0,120,7,0,90.00,1,Sri Lanka,Dhaka,13 Mar 2012
83,66,0,82,5,0,80.48,1,Bangladesh,Dhaka,16 Mar 2012
84,183,0,148,22,1,123.64,2,Pakistan,Dhaka,18 Mar 2012
85,106,0,113,9,0,93.80,1,Sri Lanka,Hambantota,21 Jul 2012
86,1,0,5,0,0,20.00,1,Sri Lanka,Hambantota,24 Jul 2012
87,38,0,65,2,0,58.46,2,Sri Lanka,Colombo (RPS),28 Jul 2012
88,128,1,119,12,1,107.56,2,Sri Lanka,Colombo (RPS),31 Jul 2012
89,23,0,35,2,0,65.71,1,Sri Lanka,Pallekele,4 Aug 2012
90,0,0,5,0,0,0.00,1,Pakistan,Chennai,30 Dec 2012
91,6,0,9,1,0,66.66,2,Pakistan,Kolkata,3 Jan 2013
92,7,0,17,1,0,41.17,1,Pakistan,Delhi,6 Jan 2013
93,15,0,22,1,0,68.18,2,England,Rajkot,11 Jan 2013
94,37,0,54,1,1,68.51,1,England,Kochi,15 Jan 2013
95,77,1,79,9,2,97.46,2,England,Ranchi,19 Jan 2013
96,26,0,33,3,0,78.78,2,England,Mohali,23 Jan 2013
97,0,0,1,0,0,0.00,1,England,Dharamsala,27 Jan 2013
98,31,0,41,2,0,75.60,1,South Africa,Cardiff,6 Jun 2013
99,22,0,18,4,0,122.22,2,West Indies,The Oval,11 Jun 2013
100,22,1,27,3,0,81.48,2,Pakistan,Birmingham,15 Jun 2013
101,58,1,64,4,1,90.62,2,Sri Lanka,Cardiff,20 Jun 2013
102,43,0,34,4,1,126.47,1,England,Birmingham,23 Jun 2013
103,11,0,21,0,1,52.38,1,West Indies,Kingston,30 Jun 2013
104,2,0,5,0,0,40.00,2,Sri Lanka,Kingston,2 Jul 2013
105,102,0,83,13,2,122.89,1,West Indies,Port of Spain,5 Jul 2013
106,31,0,52,4,0,59.61,1,Sri Lanka,Port of Spain,9 Jul 2013
107,2,0,5,0,0,40.00,2,Sri Lanka,Port of Spain,11 Jul 2013
108,115,0,108,13,1,106.48,2,Zimbabwe,Harare,24 Jul 2013
109,14,0,18,2,0,77.77,1,Zimbabwe,Harare,26 Jul 2013
110,68,1,88,5,1,77.27,2,Zimbabwe,Harare,28 Jul 2013
113,61,0,85,6,0,71.76,2,Australia,Pune,13 Oct 2013
114,100,1,52,8,7,192.30,2,Australia,Jaipur,16 Oct 2013
115,68,0,73,9,0,93.15,1,Australia,Mohali,19 Oct 2013
117,115,1,66,18,1,174.24,2,Australia,Nagpur,30 Oct 2013
118,0,0,3,0,0,0.00,1,Australia,Bengaluru,2 Nov 2013
119,86,0,84,9,2,102.38,2,West Indies,Kochi,21 Nov 2013
120,99,0,100,9,0,99.00,1,West Indies,Visakhapatnam,24 Nov 2013
121,19,0,18,3,0,105.55,2,West Indies,Kanpur,27 Nov 2013
122,31,0,35,5,0,88.57,2,South Africa,Johannesburg,5 Dec 2013
123,0,0,5,0,0,0.00,2,South Africa,Durban,8 Dec 2013
125,123,0,111,11,2,110.81,2,New Zealand,Napier,19 Jan 2014
126,78,0,65,7,2,120.00,2,New Zealand,Hamilton,22 Jan 2014
127,6,0,20,1,0,30.00,2,New Zealand,Auckland,25 Jan 2014
128,2,0,10,0,0,20.00,1,New Zealand,Hamilton,28 Jan 2014
129,82,0,78,7,3,105.12,2,New Zealand,Wellington,31 Jan 2014
130,136,0,122,16,2,111.47,2,Bangladesh,Fatullah,26 Feb 2014
131,48,0,51,4,1,94.11,1,Sri Lanka,Fatullah,28 Feb 2014
132,5,0,11,0,0,45.45,1,Pakistan,Dhaka,2 Mar 2014
134,0,0,3,0,0,0.00,1,England,Cardiff,27 Aug 2014
135,40,0,50,2,1,80.00,2,England,Nottingham,30 Aug 2014
136,1,1,3,0,0,33.33,2,England,Birmingham,2 Sep 2014
137,13,0,21,2,0,61.90,2,England,Leeds,5 Sep 2014
138,2,0,5,0,0,40.00,2,West Indies,Kochi,8 Oct 2014
139,62,0,78,5,0,79.48,1,West Indies,Delhi,11 Oct 2014
140,127,0,114,13,3,111.40,1,West Indies,Dharamsala,17 Oct 2014
141,22,0,21,2,0,104.76,1,Sri Lanka,Cuttack,2 Nov 2014
142,49,0,44,2,2,111.36,2,Sri Lanka,Ahmedabad,6 Nov 2014
143,53,0,61,4,1,86.88,2,Sri Lanka,Hyderabad (Deccan),9 Nov 2014
144,66,0,64,6,0,103.12,1,Sri Lanka,Kolkata,13 Nov 2014
145,139,1,126,12,3,110.31,2,Sri Lanka,Ranchi,16 Nov 2014
146,9,0,16,0,0,56.25,1,Australia,Melbourne,18 Jan 2015
147,4,0,8,0,0,50.00,1,England,Brisbane,20 Jan 2015
148,3,1,9,0,0,33.33,1,Australia,Sydney,26 Jan 2015
149,8,0,19,0,0,42.10,1,England,Perth,30 Jan 2015
150,107,0,126,8,0,84.92,1,Pakistan,Adelaide,15 Feb 2015
151,46,0,60,3,0,76.66,1,South Africa,Melbourne,22 Feb 2015
152,33,1,41,5,0,80.48,2,U.A.E.,Perth,28 Feb 2015
153,33,0,36,5,0,91.66,2,West Indies,Perth,6 Mar 2015
154,44,1,42,4,1,104.76,2,Ireland,Hamilton,10 Mar 2015
155,38,0,48,4,0,79.16,2,Zimbabwe,Auckland,14 Mar 2015
156,3,0,8,0,0,37.50,1,Bangladesh,Melbourne,19 Mar 2015
157,1,0,13,0,0,7.69,2,Australia,Sydney,26 Mar 2015
158,1,0,4,0,0,25.00,2,Bangladesh,Dhaka,18 Jun 2015
159,23,0,27,3,1,85.18,1,Bangladesh,Dhaka,21 Jun 2015
160,25,0,35,1,0,71.42,1,Bangladesh,Dhaka,24 Jun 2015
161,11,0,18,0,0,61.11,2,South Africa,Kanpur,11 Oct 2015
162,12,0,18,0,0,66.66,1,South Africa,Indore,14 Oct 2015
163,77,0,99,5,0,77.77,2,South Africa,Rajkot,18 Oct 2015
164,138,0,140,6,5,98.57,1,South Africa,Chennai,22 Oct 2015
165,7,0,6,0,1,116.66,2,South Africa,Mumbai,25 Oct 2015
166,91,0,97,9,1,93.81,1,Australia,Perth,12 Jan 2016
167,59,0,67,4,0,88.05,1,Australia,Brisbane,15 Jan 2016
168,117,0,117,7,2,100.00,1,Australia,Melbourne,17 Jan 2016
169,106,0,92,11,1,115.21,2,Australia,Canberra,20 Jan 2016
170,8,0,11,1,0,72.72,2,Australia,Sydney,23 Jan 2016
171,85,1,81,9,1,104.93,2,New Zealand,Dharamsala,16 Oct 2016
172,9,0,13,1,0,69.23,2,New Zealand,Delhi,20 Oct 2016
173,154,1,134,16,1,114.92,2,New Zealand,Mohali,23 Oct 2016
174,45,0,51,2,1,88.23,2,New Zealand,Ranchi,26 Oct 2016
175,65,0,76,2,1,85.52,1,New Zealand,Visakhapatnam,29 Oct 2016
176,122,0,105,8,5,116.19,2,England,Pune,15 Jan 2017
177,8,0,5,2,0,160.00,1,England,Cuttack,19 Jan 2017
178,55,0,63,8,0,87.30,2,England,Kolkata,22 Jan 2017
179,81,1,68,6,3,119.11,1,Pakistan,Birmingham,4 Jun 2017
180,0,0,5,0,0,0.00,1,Sri Lanka,The Oval,8 Jun 2017
181,76,1,101,7,1,75.24,2,South Africa,The Oval,11 Jun 2017
182,96,1,78,13,0,123.07,2,Bangladesh,Birmingham,15 Jun 2017
183,5,0,9,0,0,55.55,2,Pakistan,The Oval,18 Jun 2017
184,32,1,47,1,0,68.08,1,West Indies,Port of Spain,23 Jun 2017
185,87,0,66,4,4,131.81,1,West Indies,Port of Spain,25 Jun 2017
186,11,0,22,2,0,50.00,1,West Indies,North Sound,30 Jun 2017
187,3,0,12,0,0,25.00,2,West Indies,North Sound,2 Jul 2017
188,111,1,115,12,2,96.52,2,West Indies,Kingston,6 Jul 2017
189,82,1,70,10,1,117.14,2,Sri Lanka,Dambulla,20 Aug 2017
190,4,0,2,1,0,200.00,2,Sri Lanka,Pallekele,24 Aug 2017
191,3,0,11,0,0,27.27,2,Sri Lanka,Pallekele,27 Aug 2017
192,131,0,96,17,2,136.45,1,Sri Lanka,Colombo (RPS),31 Aug 2017
193,110,1,116,9,0,94.82,2,Sri Lanka,Colombo (RPS),3 Sep 2017
194,0,0,4,0,0,0.00,1,Australia,Chennai,17 Sep 2017
195,92,0,107,8,0,85.98,1,Australia,Kolkata,21 Sep 2017
196,28,0,35,2,0,80.00,2,Australia,Indore,24 Sep 2017
197,21,0,21,3,0,100.00,2,Australia,Bengaluru,28 Sep 2017
198,39,0,55,2,0,70.90,2,Australia,Nagpur,1 Oct 2017
199,121,0,125,9,2,96.80,1,New Zealand,Mumbai,22 Oct 2017
200,29,0,29,3,1,100.00,2,New Zealand,Pune,25 Oct 2017
201,113,0,106,9,1,106.60,1,New Zealand,Kanpur,29 Oct 2017
202,112,0,119,10,0,94.11,2,South Africa,Durban,1 Feb 2018
203,46,1,50,4,1,92.00,2,South Africa,Centurion,4 Feb 2018
204,160,1,159,12,2,100.62,1,South Africa,Cape Town,7 Feb 2018
205,75,0,83,7,1,90.36,1,South Africa,Johannesburg,10 Feb 2018
206,36,0,54,2,0,66.66,1,South Africa,Port Elizabeth,13 Feb 2018
207,129,1,96,19,2,134.37,2,South Africa,Centurion,16 Feb 2018
208,75,0,82,7,0,91.46,2,England,Nottingham,12 Jul 2018
209,45,0,56,2,0,80.35,2,England,Lord's,14 Jul 2018
210,71,0,72,8,0,98.61,1,England,Leeds,17 Jul 2018
211,140,0,107,21,2,130.84,2,West Indies,Guwahati,21 Oct 2018
212,157,1,129,13,4,121.70,1,West Indies,Visakhapatnam,24 Oct 2018
213,107,0,119,10,1,89.91,2,West Indies,Pune,27 Oct 2018
214,16,0,17,2,0,94.11,1,West Indies,Mumbai (BS),29 Oct 2018
215,33,1,29,6,0,113.79,2,West Indies,Thiruvananthapuram,1 Nov 2018
216,3,0,8,0,0,37.50,2,Australia,Sydney,12 Jan 2019
217,104,0,112,5,2,92.85,2,Australia,Adelaide,15 Jan 2019
218,46,0,62,3,0,74.19,2,Australia,Melbourne,18 Jan 2019
219,45,0,59,3,0,76.27,2,New Zealand,Napier,23 Jan 2019
220,43,0,45,5,0,95.55,1,New Zealand,Mount Maunganui,26 Jan 2019
221,60,0,74,6,1,81.08,2,New Zealand,Mount Maunganui,28 Jan 2019
222,44,0,45,6,1,97.77,2,Australia,Hyderabad (Deccan),2 Mar 2019
223,116,0,120,10,0,96.66,1,Australia,Nagpur,5 Mar 2019
224,123,0,95,16,1,129.47,2,Australia,Ranchi,8 Mar 2019
225,7,0,6,1,0,116.66,1,Australia,Mohali,10 Mar 2019
226,20,0,22,2,0,90.90,2,Australia,Delhi,13 Mar 2019
227,18,0,34,1,0,52.94,2,South Africa,Southampton,5 Jun 2019
228,82,0,77,4,2,106.49,1,Australia,The Oval,9 Jun 2019
229,77,0,65,7,0,118.46,1,Pakistan,Manchester,16 Jun 2019
230,67,0,63,5,0,106.34,1,Afghanistan,Southampton,22 Jun 2019
231,72,0,82,8,0,87.80,1,West Indies,Manchester,27 Jun 2019
232,66,0,76,7,0,86.84,2,England,Birmingham,30 Jun 2019
233,26,0,27,3,0,96.29,1,Bangladesh,Birmingham,2 Jul 2019
234,34,1,41,3,0,82.92,2,Sri Lanka,Leeds,6 Jul 2019
235,1,0,6,0,0,16.66,2,New Zealand,Manchester,9 Jul 2019
237,120,0,125,14,1,96.00,1,West Indies,Port of Spain,11 Aug 2019
238,114,1,99,14,0,115.15,2,West Indies,Port of Spain,14 Aug 2019
239,4,0,4,1,0,100.00,1,West Indies,Chennai,15 Dec 2019
240,0,0,1,0,0,0.00,1,West Indies,Visakhapatnam,18 Dec 2019
241,85,0,81,9,0,104.93,2,West Indies,Cuttack,22 Dec 2019
242,16,0,14,0,1,114.28,1,Australia,Mumbai,14 Jan 2020
243,78,0,76,6,0,102.63,1,Australia,Rajkot,17 Jan 2020
244,89,0,91,8,0,97.80,2,Australia,Bengaluru,19 Jan 2020
245,51,0,63,6,0,80.95,1,New Zealand,Hamilton,5 Feb 2020
246,15,0,25,1,0,60.00,2,New Zealand,Auckland,8 Feb 2020
247,9,0,12,0,1,75.00,1,New Zealand,Mount Maunganui,11 Feb 2020

In [20]:
df1.isnull().sum()

runs      0
NotOut    0
bf        0
fours     0
sixes     0
sr        1
Inns      0
Opp       0
Ground    0
Date      0
dtype: int64

### sr column contains one null value so we will fill it or drop that row

In [21]:
df1.replace(np.nan,0,inplace=True)

In [22]:
df1.isnull().sum()

runs      0
NotOut    0
bf        0
fours     0
sixes     0
sr        0
Inns      0
Opp       0
Ground    0
Date      0
dtype: int64

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 0 to 247
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   runs    239 non-null    object
 1   NotOut  239 non-null    int64
 2   bf      239 non-null    object
 3   fours   239 non-null    object
 4   sixes   239 non-null    object
 5   sr      239 non-null    object
 6   Inns    239 non-null    object
 7   Opp     239 non-null    object
 8   Ground  239 non-null    object
 9   Date    239 non-null    object
dtypes: int64(1), object(9)
memory usage: 20.5+ KB

### here we will change the datatype from object to float and int

In [24]:
lst=['runs','bf','fours','sixes','Inns']

In [25]:
lst

['runs', 'bf', 'fours', 'sixes', 'Inns']

In [26]:
for i in lst:
    df1[i]=df1[i].astype(str).astype(int)

df1['sr']=df1['sr'].astype(str).astype(float)

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 0 to 247
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   runs    239 non-null    int32
 1   NotOut  239 non-null    int64
 2   bf      239 non-null    int32
 3   fours   239 non-null    int32
 4   sixes   239 non-null    int32
 5   sr      239 non-null    float64
 6   Inns    239 non-null    int32
 7   Opp     239 non-null    object
 8   Ground  239 non-null    object
 9   Date    239 non-null    object
dtypes: float64(1), int32(5), int64(1), object(3)
memory usage: 15.9+ KB

### here we will drop few columns which are not necessary

In [28]:
df1.drop(columns=['Ground','Date'],inplace=True)

In [29]:
df1

     runs  NotOut   bf  fours  sixes      sr  Inns           Opp
0      12       0   22      1      0   54.54     1     Sri Lanka
1      37       0   67      6      0   55.22     2     Sri Lanka
2      25       0   38      4      0   65.78     1     Sri Lanka
3      54       0   66      7      0   81.81     1     Sri Lanka
4      31       0   46      3      1   67.39     2     Sri Lanka
5       2       1    2      0      0  100.00     1     Sri Lanka
6      16       0   24      1      0   66.66     2      Pakistan
8      79       1  104      9      2   75.96     2   West Indies
9      30       0   41      3      0   73.17     2     Australia
10     10       0   16      1      0   62.50     2     Australia
11     27       0   19      4      0  142.10     1     Sri Lanka
12     54       0   65      7      0   83.07     1     Sri Lanka
13    107       0  114     11      1   93.85     2     Sri Lanka
15      9       0   12      1      0   75.00     1     Sri Lanka
16     91       0  102      7      0   89.21     2    Bangladesh
17     71       1   68      9      0  104.41     2     Sri Lanka
18    102       1   95     11      0  107.36     2    Bangladesh
19      2       0    8      0      0   25.00     1     Sri Lanka
20     31       0   46      1      0   67.39     1  South Africa
22     57       0   71      4      1   80.28     2  South Africa
23      0       0    0      0      0    0.00     1      Zimbabwe
24     82       0   92      4      0   89.13     2     Sri Lanka
25     18       0   29      1      0   62.06     1      Zimbabwe
26     68       0   95      5      0   71.57     1     Sri Lanka
27     11       0   22      0      0   50.00     2    Bangladesh
28     18       0   27      1      0   66.66     2      Pakistan
29     10       0   14      1      0   71.42     1     Sri Lanka
30     28       0   34      4      0   82.35     1     Sri Lanka
31      0       0    3      0      0    0.00     2     Sri Lanka
32      8       0   16      1      0   50.00     1   New Zealand
33     37       0   57      5      0   64.91     2     Sri Lanka
34    118       0  121     11      1   97.52     2     Australia
35    105       0  104     10      0  100.96     1   New Zealand
36     64       0   73      8      0   87.67     2   New Zealand
37     63       1   70      6      2   90.00     2   New Zealand
38      0       0    2      0      0    0.00     2   New Zealand
39      2       0    8      0      0   25.00     2   New Zealand
40     54       0   70      2      1   77.14     2  South Africa
41     22       0   34      1      0   64.70     1  South Africa
42     28       0   41      5      0   68.29     2  South Africa
43     87       1   92      7      2   94.56     2  South Africa
44      2       0    6      0      0   33.33     2  South Africa
45    100       1   83      8      2  120.48     1    Bangladesh
46      8       0    5      1      0  160.00     1       England
47     34       0   53      3      0   64.15     2       Ireland
48     12       0   20      2      0   60.00     2   Netherlands
49      1       0    3      0      0   33.33     1  South Africa
50     59       0   76      5      0   77.63     1   West Indies
51     24       0   33      1      0   72.72     2     Australia
52      9       0   21      0      0   42.85     1      Pakistan
53     35       0   49      4      0   71.42     2     Sri Lanka
54      2       0    8      0      0   25.00     2   West Indies
55     81       0  103      6      1   78.64     2   West Indies
56      0       0    1      0      0    0.00     2   West Indies
57     22       0   33      1      0   66.66     2   West Indies
58     94       0  104     10      0   90.38     1   West Indies
59     55       0   73      4      0   75.34     1       England
60      9       0    9      0      0  100.00     1       England
61      7       0   18      0      0   38.88     1       England
62     16       0   36      1      0   44.44     1       England
63    107       0   93      9      1  115.05     1       England
64     37       0   63      0      0   58.73     1       England
65    112       1   98     16      0  114.28     2       England
66     35       0   30      5      0  116.66     2       England
67     86       1   99     11      0   86.86     2       England
68      0       0    5      0      0    0.00     1       England
69      3       0    6      0      0   50.00     2   West Indies
70    117       0  123     14      0   95.12     2   West Indies
71     20       0   30      3      0   66.66     2   West Indies
72     23       1   11      3      0  209.09     1   West Indies
73     80       0   85      5      0   94.11     1   West Indies
74     31       0   34      3      0   91.17     2     Australia
75     77       0   94      8      1   81.91     2     Sri Lanka
76     18       0   28      1      0   64.28     2     Australia
77     15       0   25      1      0   60.00     2     Sri Lanka
78     12       0   25      0      0   48.00     2     Australia
79     66       0   83      2      0   79.51     2     Sri Lanka
80     21       0   27      2      0   77.77     2     Australia
81    133       1   86     16      2  154.65     2     Sri Lanka
82    108       0  120      7      0   90.00     1     Sri Lanka
83     66       0   82      5      0   80.48     1    Bangladesh
84    183       0  148     22      1  123.64     2      Pakistan
85    106       0  113      9      0   93.80     1     Sri Lanka
86      1       0    5      0      0   20.00     1     Sri Lanka
87     38       0   65      2      0   58.46     2     Sri Lanka
88    128       1  119     12      1  107.56     2     Sri Lanka
89     23       0   35      2      0   65.71     1     Sri Lanka
90      0       0    5      0      0    0.00     1      Pakistan
91      6       0    9      1      0   66.66     2      Pakistan
92      7       0   17      1      0   41.17     1      Pakistan
93     15       0   22      1      0   68.18     2       England
94     37       0   54      1      1   68.51     1       England
95     77       1   79      9      2   97.46     2       England
96     26       0   33      3      0   78.78     2       England
97      0       0    1      0      0    0.00     1       England
98     31       0   41      2      0   75.60     1  South Africa
99     22       0   18      4      0  122.22     2   West Indies
100    22       1   27      3      0   81.48     2      Pakistan
101    58       1   64      4      1   90.62     2     Sri Lanka
102    43       0   34      4      1  126.47     1       England
103    11       0   21      0      1   52.38     1   West Indies
104     2       0    5      0      0   40.00     2     Sri Lanka
105   102       0   83     13      2  122.89     1   West Indies
106    31       0   52      4      0   59.61     1     Sri Lanka
107     2       0    5      0      0   40.00     2     Sri Lanka
108   115       0  108     13      1  106.48     2      Zimbabwe
109    14       0   18      2      0   77.77     1      Zimbabwe
110    68       1   88      5      1   77.27     2      Zimbabwe
113    61       0   85      6      0   71.76     2     Australia
114   100       1   52      8      7  192.30     2     Australia
115    68       0   73      9      0   93.15     1     Australia
117   115       1   66     18      1  174.24     2     Australia
118     0       0    3      0      0    0.00     1     Australia
119    86       0   84      9      2  102.38     2   West Indies
120    99       0  100      9      0   99.00     1   West Indies
121    19       0   18      3      0  105.55     2   West Indies
122    31       0   35      5      0   88.57     2  South Africa
123     0       0    5      0      0    0.00     2  South Africa
125   123       0  111     11      2  110.81     2   New Zealand
126    78       0   65      7      2  120.00     2   New Zealand
127     6       0   20      1      0   30.00     2   New Zealand
128     2       0   10      0      0   20.00     1   New Zealand
129    82       0   78      7      3  105.12     2   New Zealand
130   136       0  122     16      2  111.47     2    Bangladesh
131    48       0   51      4      1   94.11     1     Sri Lanka
132     5       0   11      0      0   45.45     1      Pakistan
134     0       0    3      0      0    0.00     1       England
135    40       0   50      2      1   80.00     2       England
136     1       1    3      0      0   33.33     2       England
137    13       0   21      2      0   61.90     2       England
138     2       0    5      0      0   40.00     2   West Indies
139    62       0   78      5      0   79.48     1   West Indies
140   127       0  114     13      3  111.40     1   West Indies
141    22       0   21      2      0  104.76     1     Sri Lanka
142    49       0   44      2      2  111.36     2     Sri Lanka
143    53       0   61      4      1   86.88     2     Sri Lanka
144    66       0   64      6      0  103.12     1     Sri Lanka
145   139       1  126     12      3  110.31     2     Sri Lanka
146     9       0   16      0      0   56.25     1     Australia
147     4       0    8      0      0   50.00     1       England
148     3       1    9      0      0   33.33     1     Australia
149     8       0   19      0      0   42.10     1       England
150   107       0  126      8      0   84.92     1      Pakistan
151    46       0   60      3      0   76.66     1  South Africa
152    33       1   41      5      0   80.48     2        U.A.E.
153    33       0   36      5      0   91.66     2   West Indies
154    44       1   42      4      1  104.76     2       Ireland
155    38       0   48      4      0   79.16     2      Zimbabwe
156     3       0    8      0      0   37.50     1    Bangladesh
157     1       0   13      0      0    7.69     2     Australia
158     1       0    4      0      0   25.00     2    Bangladesh
159    23       0   27      3      1   85.18     1    Bangladesh
160    25       0   35      1      0   71.42     1    Bangladesh
161    11       0   18      0      0   61.11     2  South Africa
162    12       0   18      0      0   66.66     1  South Africa
163    77       0   99      5      0   77.77     2  South Africa
164   138       0  140      6      5   98.57     1  South Africa
165     7       0    6      0      1  116.66     2  South Africa
166    91       0   97      9      1   93.81     1     Australia
167    59       0   67      4      0   88.05     1     Australia
168   117       0  117      7      2  100.00     1     Australia
169   106       0   92     11      1  115.21     2     Australia
170     8       0   11      1      0   72.72     2     Australia
171    85       1   81      9      1  104.93     2   New Zealand
172     9       0   13      1      0   69.23     2   New Zealand
173   154       1  134     16      1  114.92     2   New Zealand
174    45       0   51      2      1   88.23     2   New Zealand
175    65       0   76      2      1   85.52     1   New Zealand
176   122       0  105      8      5  116.19     2       England
177     8       0    5      2      0  160.00     1       England
178    55       0   63      8      0   87.30     2       England
179    81       1   68      6      3  119.11     1      Pakistan
180     0       0    5      0      0    0.00     1     Sri Lanka
181    76       1  101      7      1   75.24     2  South Africa
182    96       1   78     13      0  123.07     2    Bangladesh
183     5       0    9      0      0   55.55     2      Pakistan
184    32       1   47      1      0   68.08     1   West Indies
185    87       0   66      4      4  131.81     1   West Indies
186    11       0   22      2      0   50.00     1   West Indies
187     3       0   12      0      0   25.00     2   West Indies
188   111       1  115     12      2   96.52     2   West Indies
189    82       1   70     10      1  117.14     2     Sri Lanka
190     4       0    2      1      0  200.00     2     Sri Lanka
191     3       0   11      0      0   27.27     2     Sri Lanka
192   131       0   96     17      2  136.45     1     Sri Lanka
193   110       1  116      9      0   94.82     2     Sri Lanka
194     0       0    4      0      0    0.00     1     Australia
195    92       0  107      8      0   85.98     1     Australia
196    28       0   35      2      0   80.00     2     Australia
197    21       0   21      3      0  100.00     2     Australia
198    39       0   55      2      0   70.90     2     Australia
199   121       0  125      9      2   96.80     1   New Zealand
200    29       0   29      3      1  100.00     2   New Zealand
201   113       0  106      9      1  106.60     1   New Zealand
202   112       0  119     10      0   94.11     2  South Africa
203    46       1   50      4      1   92.00     2  South Africa
204   160       1  159     12      2  100.62     1  South Africa
205    75       0   83      7      1   90.36     1  South Africa
206    36       0   54      2      0   66.66     1  South Africa
207   129       1   96     19      2  134.37     2  South Africa
208    75       0   82      7      0   91.46     2       England
209    45       0   56      2      0   80.35     2       England
210    71       0   72      8      0   98.61     1       England
211   140       0  107     21      2  130.84     2   West Indies
212   157       1  129     13      4  121.70     1   West Indies
213   107       0  119     10      1   89.91     2   West Indies
214    16       0   17      2      0   94.11     1   West Indies
215    33       1   29      6      0  113.79     2   West Indies
216     3       0    8      0      0   37.50     2     Australia
217   104       0  112      5      2   92.85     2     Australia
218    46       0   62      3      0   74.19     2     Australia
219    45       0   59      3      0   76.27     2   New Zealand
220    43       0   45      5      0   95.55     1   New Zealand
221    60       0   74      6      1   81.08     2   New Zealand
222    44       0   45      6      1   97.77     2     Australia
223   116       0  120     10      0   96.66     1     Australia
224   123       0   95     16      1  129.47     2     Australia
225     7       0    6      1      0  116.66     1     Australia
226    20       0   22      2      0   90.90     2     Australia
227    18       0   34      1      0   52.94     2  South Africa
228    82       0   77      4      2  106.49     1     Australia
229    77       0   65      7      0  118.46     1      Pakistan
230    67       0   63      5      0  106.34     1   Afghanistan
231    72       0   82      8      0   87.80     1   West Indies
232    66       0   76      7      0   86.84     2       England
233    26       0   27      3      0   96.29     1    Bangladesh
234    34       1   41      3      0   82.92     2     Sri Lanka
235     1       0    6      0      0   16.66     2   New Zealand
237   120       0  125     14      1   96.00     1   West Indies
238   114       1   99     14      0  115.15     2   West Indies
239     4       0    4      1      0  100.00     1   West Indies
240     0       0    1      0      0    0.00     1   West Indies
241    85       0   81      9      0  104.93     2   West Indies
242    16       0   14      0      1  114.28     1     Australia
243    78       0   76      6      0  102.63     1     Australia
244    89       0   91      8      0   97.80     2     Australia
245    51       0   63      6      0   80.95     1   New Zealand
246    15       0   25      1      0   60.00     2   New Zealand
247     9       0   12      0      1   75.00     1   New Zealand

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 0 to 247
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   runs    239 non-null    int32
 1   NotOut  239 non-null    int64
 2   bf      239 non-null    int32
 3   fours   239 non-null    int32
 4   sixes   239 non-null    int32
 5   sr      239 non-null    float64
 6   Inns    239 non-null    int32
 7   Opp     239 non-null    object
dtypes: float64(1), int32(5), int64(1), object(1)
memory usage: 12.1+ KB

### Split the data into X and Y

In [31]:
X=df1.drop(columns=['runs'])
y=df1['runs']

In [32]:
X

     NotOut   bf  fours  sixes      sr  Inns           Opp
0         0   22      1      0   54.54     1     Sri Lanka
1         0   67      6      0   55.22     2     Sri Lanka
2         0   38      4      0   65.78     1     Sri Lanka
3         0   66      7      0   81.81     1     Sri Lanka
4         0   46      3      1   67.39     2     Sri Lanka
5         1    2      0      0  100.00     1     Sri Lanka
6         0   24      1      0   66.66     2      Pakistan
8         1  104      9      2   75.96     2   West Indies
9         0   41      3      0   73.17     2     Australia
10        0   16      1      0   62.50     2     Australia
11        0   19      4      0  142.10     1     Sri Lanka
12        0   65      7      0   83.07     1     Sri Lanka
13        0  114     11      1   93.85     2     Sri Lanka
15        0   12      1      0   75.00     1     Sri Lanka
16        0  102      7      0   89.21     2    Bangladesh
17        1   68      9      0  104.41     2     Sri Lanka
18        1   95     11      0  107.36     2    Bangladesh
19        0    8      0      0   25.00     1     Sri Lanka
20        0   46      1      0   67.39     1  South Africa
22        0   71      4      1   80.28     2  South Africa
23        0    0      0      0    0.00     1      Zimbabwe
24        0   92      4      0   89.13     2     Sri Lanka
25        0   29      1      0   62.06     1      Zimbabwe
26        0   95      5      0   71.57     1     Sri Lanka
27        0   22      0      0   50.00     2    Bangladesh
28        0   27      1      0   66.66     2      Pakistan
29        0   14      1      0   71.42     1     Sri Lanka
30        0   34      4      0   82.35     1     Sri Lanka
31        0    3      0      0    0.00     2     Sri Lanka
32        0   16      1      0   50.00     1   New Zealand
33        0   57      5      0   64.91     2     Sri Lanka
34        0  121     11      1   97.52     2     Australia
35        0  104     10      0  100.96     1   New Zealand
36        0   73      8      0   87.67     2   New Zealand
37        1   70      6      2   90.00     2   New Zealand
38        0    2      0      0    0.00     2   New Zealand
39        0    8      0      0   25.00     2   New Zealand
40        0   70      2      1   77.14     2  South Africa
41        0   34      1      0   64.70     1  South Africa
42        0   41      5      0   68.29     2  South Africa
43        1   92      7      2   94.56     2  South Africa
44        0    6      0      0   33.33     2  South Africa
45        1   83      8      2  120.48     1    Bangladesh
46        0    5      1      0  160.00     1       England
47        0   53      3      0   64.15     2       Ireland
48        0   20      2      0   60.00     2   Netherlands
49        0    3      0      0   33.33     1  South Africa
50        0   76      5      0   77.63     1   West Indies
51        0   33      1      0   72.72     2     Australia
52        0   21      0      0   42.85     1      Pakistan
53        0   49      4      0   71.42     2     Sri Lanka
54        0    8      0      0   25.00     2   West Indies
55        0  103      6      1   78.64     2   West Indies
56        0    1      0      0    0.00     2   West Indies
57        0   33      1      0   66.66     2   West Indies
58        0  104     10      0   90.38     1   West Indies
59        0   73      4      0   75.34     1       England
60        0    9      0      0  100.00     1       England
61        0   18      0      0   38.88     1       England
62        0   36      1      0   44.44     1       England
63        0   93      9      1  115.05     1       England
64        0   63      0      0   58.73     1       England
65        1   98     16      0  114.28     2       England
66        0   30      5      0  116.66     2       England
67        1   99     11      0   86.86     2       England
68        0    5      0      0    0.00     1       England
69        0    6      0      0   50.00     2   West Indies
70        0  123     14      0   95.12     2   West Indies
71        0   30      3      0   66.66     2   West Indies
72        1   11      3      0  209.09     1   West Indies
73        0   85      5      0   94.11     1   West Indies
74        0   34      3      0   91.17     2     Australia
75        0   94      8      1   81.91     2     Sri Lanka
76        0   28      1      0   64.28     2     Australia
77        0   25      1      0   60.00     2     Sri Lanka
78        0   25      0      0   48.00     2     Australia
79        0   83      2      0   79.51     2     Sri Lanka
80        0   27      2      0   77.77     2     Australia
81        1   86     16      2  154.65     2     Sri Lanka
82        0  120      7      0   90.00     1     Sri Lanka
83        0   82      5      0   80.48     1    Bangladesh
84        0  148     22      1  123.64     2      Pakistan
85        0  113      9      0   93.80     1     Sri Lanka
86        0    5      0      0   20.00     1     Sri Lanka
87        0   65      2      0   58.46     2     Sri Lanka
88        1  119     12      1  107.56     2     Sri Lanka
89        0   35      2      0   65.71     1     Sri Lanka
90        0    5      0      0    0.00     1      Pakistan
91        0    9      1      0   66.66     2      Pakistan
92        0   17      1      0   41.17     1      Pakistan
93        0   22      1      0   68.18     2       England
94        0   54      1      1   68.51     1       England
95        1   79      9      2   97.46     2       England
96        0   33      3      0   78.78     2       England
97        0    1      0      0    0.00     1       England
98        0   41      2      0   75.60     1  South Africa
99        0   18      4      0  122.22     2   West Indies
100       1   27      3      0   81.48     2      Pakistan
101       1   64      4      1   90.62     2     Sri Lanka
102       0   34      4      1  126.47     1       England
103       0   21      0      1   52.38     1   West Indies
104       0    5      0      0   40.00     2     Sri Lanka
105       0   83     13      2  122.89     1   West Indies
106       0   52      4      0   59.61     1     Sri Lanka
107       0    5      0      0   40.00     2     Sri Lanka
108       0  108     13      1  106.48     2      Zimbabwe
109       0   18      2      0   77.77     1      Zimbabwe
110       1   88      5      1   77.27     2      Zimbabwe
113       0   85      6      0   71.76     2     Australia
114       1   52      8      7  192.30     2     Australia
115       0   73      9      0   93.15     1     Australia
117       1   66     18      1  174.24     2     Australia
118       0    3      0      0    0.00     1     Australia
119       0   84      9      2  102.38     2   West Indies
120       0  100      9      0   99.00     1   West Indies
121       0   18      3      0  105.55     2   West Indies
122       0   35      5      0   88.57     2  South Africa
123       0    5      0      0    0.00     2  South Africa
125       0  111     11      2  110.81     2   New Zealand
126       0   65      7      2  120.00     2   New Zealand
127       0   20      1      0   30.00     2   New Zealand
128       0   10      0      0   20.00     1   New Zealand
129       0   78      7      3  105.12     2   New Zealand
130       0  122     16      2  111.47     2    Bangladesh
131       0   51      4      1   94.11     1     Sri Lanka
132       0   11      0      0   45.45     1      Pakistan
134       0    3      0      0    0.00     1       England
135       0   50      2      1   80.00     2       England
136       1    3      0      0   33.33     2       England
137       0   21      2      0   61.90     2       England
138       0    5      0      0   40.00     2   West Indies
139       0   78      5      0   79.48     1   West Indies
140       0  114     13      3  111.40     1   West Indies
141       0   21      2      0  104.76     1     Sri Lanka
142       0   44      2      2  111.36     2     Sri Lanka
143       0   61      4      1   86.88     2     Sri Lanka
144       0   64      6      0  103.12     1     Sri Lanka
145       1  126     12      3  110.31     2     Sri Lanka
146       0   16      0      0   56.25     1     Australia
147       0    8      0      0   50.00     1       England
148       1    9      0      0   33.33     1     Australia
149       0   19      0      0   42.10     1       England
150       0  126      8      0   84.92     1      Pakistan
151       0   60      3      0   76.66     1  South Africa
152       1   41      5      0   80.48     2        U.A.E.
153       0   36      5      0   91.66     2   West Indies
154       1   42      4      1  104.76     2       Ireland
155       0   48      4      0   79.16     2      Zimbabwe
156       0    8      0      0   37.50     1    Bangladesh
157       0   13      0      0    7.69     2     Australia
158       0    4      0      0   25.00     2    Bangladesh
159       0   27      3      1   85.18     1    Bangladesh
160       0   35      1      0   71.42     1    Bangladesh
161       0   18      0      0   61.11     2  South Africa
162       0   18      0      0   66.66     1  South Africa
163       0   99      5      0   77.77     2  South Africa
164       0  140      6      5   98.57     1  South Africa
165       0    6      0      1  116.66     2  South Africa
166       0   97      9      1   93.81     1     Australia
167       0   67      4      0   88.05     1     Australia
168       0  117      7      2  100.00     1     Australia
169       0   92     11      1  115.21     2     Australia
170       0   11      1      0   72.72     2     Australia
171       1   81      9      1  104.93     2   New Zealand
172       0   13      1      0   69.23     2   New Zealand
173       1  134     16      1  114.92     2   New Zealand
174       0   51      2      1   88.23     2   New Zealand
175       0   76      2      1   85.52     1   New Zealand
176       0  105      8      5  116.19     2       England
177       0    5      2      0  160.00     1       England
178       0   63      8      0   87.30     2       England
179       1   68      6      3  119.11     1      Pakistan
180       0    5      0      0    0.00     1     Sri Lanka
181       1  101      7      1   75.24     2  South Africa
182       1   78     13      0  123.07     2    Bangladesh
183       0    9      0      0   55.55     2      Pakistan
184       1   47      1      0   68.08     1   West Indies
185       0   66      4      4  131.81     1   West Indies
186       0   22      2      0   50.00     1   West Indies
187       0   12      0      0   25.00     2   West Indies
188       1  115     12      2   96.52     2   West Indies
189       1   70     10      1  117.14     2     Sri Lanka
190       0    2      1      0  200.00     2     Sri Lanka
191       0   11      0      0   27.27     2     Sri Lanka
192       0   96     17      2  136.45     1     Sri Lanka
193       1  116      9      0   94.82     2     Sri Lanka
194       0    4      0      0    0.00     1     Australia
195       0  107      8      0   85.98     1     Australia
196       0   35      2      0   80.00     2     Australia
197       0   21      3      0  100.00     2     Australia
198       0   55      2      0   70.90     2     Australia
199       0  125      9      2   96.80     1   New Zealand
200       0   29      3      1  100.00     2   New Zealand
201       0  106      9      1  106.60     1   New Zealand
202       0  119     10      0   94.11     2  South Africa
203       1   50      4      1   92.00     2  South Africa
204       1  159     12      2  100.62     1  South Africa
205       0   83      7      1   90.36     1  South Africa
206       0   54      2      0   66.66     1  South Africa
207       1   96     19      2  134.37     2  South Africa
208       0   82      7      0   91.46     2       England
209       0   56      2      0   80.35     2       England
210       0   72      8      0   98.61     1       England
211       0  107     21      2  130.84     2   West Indies
212       1  129     13      4  121.70     1   West Indies
213       0  119     10      1   89.91     2   West Indies
214       0   17      2      0   94.11     1   West Indies
215       1   29      6      0  113.79     2   West Indies
216       0    8      0      0   37.50     2     Australia
217       0  112      5      2   92.85     2     Australia
218       0   62      3      0   74.19     2     Australia
219       0   59      3      0   76.27     2   New Zealand
220       0   45      5      0   95.55     1   New Zealand
221       0   74      6      1   81.08     2   New Zealand
222       0   45      6      1   97.77     2     Australia
223       0  120     10      0   96.66     1     Australia
224       0   95     16      1  129.47     2     Australia
225       0    6      1      0  116.66     1     Australia
226       0   22      2      0   90.90     2     Australia
227       0   34      1      0   52.94     2  South Africa
228       0   77      4      2  106.49     1     Australia
229       0   65      7      0  118.46     1      Pakistan
230       0   63      5      0  106.34     1   Afghanistan
231       0   82      8      0   87.80     1   West Indies
232       0   76      7      0   86.84     2       England
233       0   27      3      0   96.29     1    Bangladesh
234       1   41      3      0   82.92     2     Sri Lanka
235       0    6      0      0   16.66     2   New Zealand
237       0  125     14      1   96.00     1   West Indies
238       1   99     14      0  115.15     2   West Indies
239       0    4      1      0  100.00     1   West Indies
240       0    1      0      0    0.00     1   West Indies
241       0   81      9      0  104.93     2   West Indies
242       0   14      0      1  114.28     1     Australia
243       0   76      6      0  102.63     1     Australia
244       0   91      8      0   97.80     2     Australia
245       0   63      6      0   80.95     1   New Zealand
246       0   25      1      0   60.00     2   New Zealand
247       0   12      0      1   75.00     1   New Zealand

### transform the categorical data into numerical data

In [33]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [-1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [34]:
X

array([[ 0.  ,  0.  ,  0.  , ...,  0.  , 54.54,  1.  ],
       [ 0.  ,  0.  ,  0.  , ...,  0.  , 55.22,  2.  ],
       [ 0.  ,  0.  ,  0.  , ...,  0.  , 65.78,  1.  ],
       ...,
       [ 0.  ,  0.  ,  0.  , ...,  0.  , 80.95,  1.  ],
       [ 0.  ,  0.  ,  0.  , ...,  0.  , 60.  ,  2.  ],
       [ 0.  ,  0.  ,  0.  , ...,  1.  , 75.  ,  1.  ]])

In [35]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [36]:
y

array([ 12,  36,  24,  48,  30,   2,  16,  68,  29,  10,  26,  48,  86,
         9,  76,  62,  82,   2,  30,  50,   0,  71,  17,  61,  11,  17,
        10,  27,   0,   8,  36,  96,  84,  57,  56,   0,   2,  48,  21,
        27,  74,   2,  81,   8,  33,  12,   1,  52,  23,   9,  34,   2,
        70,   0,  21,  78,  49,   9,   7,  16,  86,  36,  90,  34,  73,
         0,   3,  95,  19,  22,  69,  30,  66,  17,  15,  12,  59,  20,
       105,  87,  59, 113,  85,   1,  37, 102,  22,   0,   6,   7,  15,
        36,  66,  25,   0,  30,  21,  21,  51,  40,  11,   2,  82,  30,
         2,  93,  14,  61,  54,  81,  61,  93,   0,  73,  80,  18,  30,
         0, 100,  67,   6,   2,  71, 106,  44,   5,   0,  39,   1,  13,
         2,  55, 101,  21,  45,  47,  59, 108,   9,   4,   3,   8,  86,
        43,  32,  32,  41,  37,   3,   1,   1,  22,  24,  11,  12,  66,
       107,   7,  76,  52,  95,  85,   8,  72,   9, 110,  42,  58,  99,
         8,  49,  70,   0,  65,  79,   5,  31,  74,  11,   3,  89,  71,
         4,   3, 104,  88,   0,  77,  27,  20,  38,  98,  28,  91,  90,
        43, 112,  64,  35, 103,  64,  42,  62, 109, 111,  86,  16,  32,
         3,  83,  43,  42,  40,  53,  41,  94, 100,   7,  19,  17,  71,
        66,  60,  63,  59,  25,  33,   1,  97,  92,   4,   0,  72,  16,
        67,  75,  46,  15,   9], dtype=int64)

## Train Test and Split the Model

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [38]:
X_train

array([[ 0.  ,  0.  ,  0.  , ...,  0.  , 54.54,  1.  ],
       [ 0.  ,  0.  ,  0.  , ...,  1.  , 75.24,  2.  ],
       [ 0.  ,  1.  ,  0.  , ...,  0.  , 64.28,  2.  ],
       ...,
       [ 0.  ,  1.  ,  0.  , ...,  0.  , 33.33,  1.  ],
       [ 0.  ,  1.  ,  0.  , ...,  0.  , 97.8 ,  2.  ],
       [ 0.  ,  0.  ,  0.  , ...,  1.  , 77.14,  2.  ]])

## Train the Model

In [39]:
from sklearn.tree import DecisionTreeRegressor
regressor1 = DecisionTreeRegressor(random_state = 0)
regressor1.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

### Check the Model accuracy

In [40]:
regressor1.score(X_test,y_test)

0.9738575391493526

further changes will be done here

# Thank you...